body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(max-width:767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
        background: #323032;
        opacity: 0.6;
    }
}

@media(min-width:994px) {
    .navbar-collapse li {
        margin: 0px 30px 0px 30px;
    }
}


.black-background {
    background-color:#000000;
}

.white {
    color:#ffffff;
}

.navbar {
    background: #323032;
    padding: 0;
    height: 55px;
}

.navbar-default {
    border-color: transparent;
}

.nav-titles {
    color: #d8d8d8 !important;
}

.nav-titles:hover {
    color: grey !important;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.logo {
    height: 30px;
    margin: 11px;
}

.carousel-indicators li {
    background: black
}

.carousel-indicators > li.active {
    background: grey
}

#myCarousel a img {
    width:  50px !important;
    height: 50px !important;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto; 
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-img {
    background-image: url(../img/banner.png);
}

.carousel-text {
    width: 30rem;
    position: absolute;
    left: calc(50% - 15rem);
    top: 20%;
    text-align: center;
}

.carousel-text h1 {
    font-family: "josefinsans-light";
    color: #000;
    font-size:32px;
}

.carousel-text h4 {
    font-family: "josefinsans-semibold";
    color: #000;
    font-size:20px;
    font-weight: bold;
}

.carousel-button {
    width: 30rem;
    position: absolute;
    left: calc(50% - 15rem);
    top: 60%;
    text-align: center;
}

.carousel-button a {
    font-family: "josefinsans-semibold";
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px;
}

.what-do-we-do-section {
    padding-top: 50px;
    text-align: center;
}

.what-do-we-do-section img {
    height: 100px;
    margin-top: 40px;
}

.our-coustomers-section {
    padding-top: 50px;
    text-align: center;
}

.our-coustomers-section img {
    width: 17%;
    margin: 0 20px 0 20px;
}

.how-to-help-section {
    padding: 50px 0 30px 0;
    margin: 30px;
    text-align: center;
}

.how-to-help-section h3 {
    margin-bottom: 30px;
}

.how-to-help-section input[type=submit] {
    width: 100px;
    font-size: 20px;     
}

footer {
    background: #D8D8D8;
    padding-bottom: 20px
}

footer h3{
    text-align: center;
}

footer p{
    margin: 0px;
    
}

footer span p{
    text-align: center;
}

@font-face {
    font-family: "josefinsans-light";
    src: url(../fonts/JosefinSans-Light.ttf) format("truetype");
}

@font-face {
    font-family: "josefinsans-semibold";
    src: url(../fonts/JosefinSans-SemiBold.ttf) format("truetype");
}

section, 
footer {
    font-family: "josefinsans-light";
    color: #000;
    font-size:17px;
}

section h3,
footer h3 {
    font-family: "josefinsans-semibold";
    color: #000;
    font-size:20px;
}
