body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(max-width:767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
        background: #323032;
        opacity: 0.6;
    }
    .social-icons {
        position: initial !important;
        width: 230px;
        margin: 0 auto;
    }
}

@media(min-width:994px) {
    .navbar-collapse li{
       margin: 0 25px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .social-icons {
        position: initial !important;
        width: 230px;
        margin: 0 auto;
    }
}

.blue-background {
    background-color: #0086B4;
}

.white {
    color:#ffffff;
}

.navbar {
    background: #323032;
    padding: 0;
    height: 55px;
}

.navbar-default {
    border-color: transparent;
}

.nav-titles {
    color: #d8d8d8 !important;
}

.nav-titles:hover {
    color: #0086B4 !important;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.logo {
    height: 30px;
    margin: 11px;
}

.carousel-indicators li {
    background: black
}

.carousel-indicators > li.active {
    background: grey
}

#myCarousel a img {
    width:  50px !important;
    height: 50px !important;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto; 
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.what-do-we-do-section {
    padding-top: 50px;
    text-align: center;
}

.what-do-we-do-section img {
    height: 100px;
    margin-top: 40px;
}

.our-coustomers-section {
    padding-top: 50px;
    text-align: center;
}

.our-coustomers-section img {
    width: 14%;
    margin: 20px 20px;
}

.our-team-section {
    padding-top: 50px;
    text-align: center;
}

.how-to-help-section {
    padding: 50px 0 30px 0;
    margin: 30px;
    text-align: center;
}

.how-to-help-section h3 {
    margin-bottom: 30px;
}

.how-to-help-section input[type=submit] {
    width: 100px;
    font-size: 20px;     
}

.how-to-help-section input,
.how-to-help-section textarea {
    border-width: 2px;
    border-color: rgb(0, 134, 180);
}

footer {
    background: #0086B4;
    padding-bottom: 20px
}

footer h3{
    text-align: center;
}

footer p{
    margin: 0px;
    color: white;
}

footer span p{
    text-align: right;
}

section, 
footer {
    font-family: "josefinsans-light";
    font-size:17px;
}

section h3,
footer h3 {
    font-family: "josefinsans-semibold";
    color: #000;
    font-size:20px;
}

.row.vdivide [class*='col-']:not(:last-child):after {
    background: white;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

.footer-info {
    padding: 0px;
}

.social-icons {
    position: absolute;
}

.social-icons li {
    width: 40px;
    display: inline;
    float: left;
    margin: 5px;
}

@font-face {
    font-family: "josefinsans-light";
    src: url(../fonts/JosefinSans-Light.ttf) format("truetype");
}

@font-face {
    font-family: "josefinsans-semibold";
    src: url(../fonts/JosefinSans-SemiBold.ttf) format("truetype");
}
