body {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

html {
    width: 100%;
    height: 100%;
}

.text-right {
    text-align: right;
}

@media(max-width:767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
        background: #323032;
        opacity: 0.9;
    }
    .social-icons {
        position: initial !important;
        width: 230px;
        margin: 0 auto;
    }
}

@media(min-width:994px) {
    .navbar-collapse li{
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }
    .navbar-header {
        float:none;
    }
    .social-icons {
        position: initial !important;
        width: 230px;
        margin: 0 auto;
    }
}

.blue-background {
    background-color: #0086B4;
}

.white {
    color:#ffffff;
}

.navbar {
    background: #323032;
    padding: 0;
    height: 55px;
    opacity: 0.9;
}

.navbar-default {
    border-color: transparent;
}

.nav-titles {
    color: #d8d8d8 !important;
}

.nav-titles:hover {
    color: #0086B4 !important;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.logo {
    height: 30px;
    margin: 11px;
}

.carousel-indicators li {
    background: black
}

.carousel-indicators > li.active {
    background: grey
}

#myCarousel a img {
    width:  50px !important;
    height: 50px !important;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto; 
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.what-do-we-do-section {
    padding: 50px 0;
    text-align: center;
}

.what-do-we-do-section img {
    height: 100px;
}

.what-do-we-do-section img:first-child{
    width: 100%;
    height: 100%;
}

.what-do-we-do-section p {
    text-align: justify;
}

#what-do-we-do-content {
    text-align: justify;
}

.our-team-section {
    padding-top: 50px;
    background-color: gainsboro;
    text-align: center;
}

.our-team-section p {
    text-align: justify;
    margin: 0px 10px;
}

.our-team-section img{
    padding-top: 20px;
    width: 100%;
}

.our-coustomers-section {
    padding: 50px 0;
    text-align: center;
}

.our-coustomers-section img {
    width: 13%;
    margin: 20px 10px;
}

#our-coustomers-text h3 {
    padding: 10px 0;
}

#our-coustomers-text p {
    text-align: justify;
}

#our-coustomers-images {
    padding-top: 20px;
}

.how-to-help-section {
    padding: 50px 0;
    text-align: center;
    background-color: gainsboro;
}

.how-to-help-section h3 {
    margin-bottom: 30px;
}

.how-to-help-section input[type=submit] {
    width: 100px;
    font-size: 20px;     
}

.how-to-help-section input,
.how-to-help-section textarea {
    border-width: 2px;
    border-color: rgb(0, 134, 180);
}

.how-to-help-section input::-webkit-input-placeholder,
.how-to-help-section textarea::-webkit-input-placeholder { 
    color: black; 
} /* WebKit */

.how-to-help-section .form-control {
    background-color: gainsboro;
    color: black;
}

.about-us-section {
    padding: 70px 0;
}

.about-us-section h3 {
    font-family: "josefinsans-semibold";
    font-size:33px;
    color: #0086B4;
}

.about-us-section p {
    padding: 0 15px;
    text-align: justify;
}

.about-us-section img {
    width: 100%;
}

.work-with-us-section {
    padding: 80px 0;
    text-align: center;
    flex: 1;
}

.work-with-us-section h3 {
    margin-bottom: 30px;
}

.work-with-us-section input[type=submit] {
    width: 150px;
    font-size: 20px;     
}

.work-with-us-section input,
.work-with-us-section textarea {
    border-width: 2px;
    border-color: rgb(0, 134, 180);
}

footer {
    background: #323032;
    padding-bottom: 20px;
}

footer h2{
    text-align: center;
}

footer p{
    margin: 0px;
    color: white;
}

footer span p{
    text-align: right;
}

section, 
footer {
    font-family: "josefinsans-light";
    font-size:17px;
}

section h2,
footer h2 {
    font-family: "josefinsans-semibold";
    color: #0086B6;
    font-size:24px;
}

section h3,
footer h3 {
    font-family: "josefinsans-semibold";
    color: #000;
    font-size:20px;
}

.row.vdivide [class*='col-']:not(:last-child):after {
    background: white;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

.footer-info {
    padding: 0px;
}

.social-icons {
    position: absolute;
}

.social-icons li {
    width: 40px;
    display: inline;
    float: left;
    margin: 5px;
}

@font-face {
    font-family: "josefinsans-light";
    src: url(../fonts/JosefinSans-Light.ttf) format("truetype");
}

@font-face {
    font-family: "josefinsans-semibold";
    src: url(../fonts/JosefinSans-SemiBold.ttf) format("truetype");
}
